In [14]:
import pandas as pd
import os

In [15]:
cd Position\ CSV

/Users/bowenya/Final_Project/Final_Project/Position CSV

In [17]:
#file_l = []
#for i in range(len(os.listdir())):
#    if os.listdir()[i].endswith(".csv"):
#        file_l.append(os.listdir()[i])

#df = pd.DataFrame()

#for i in range(len(file_l)):
#    df = df.append(pd.read_csv(file_l[i]),sort=False)

#df = df.drop(["Unnamed: 0"],axis=1)

In [28]:
#RB
RB = pd.read_csv('RB_dat.csv')
HB = pd.read_csv('HB_dat.csv')
FB = pd.read_csv('FB_dat.csv')

#OL
C = pd.read_csv('C_dat.csv')
G = pd.read_csv('G_dat.csv')
OL = pd.read_csv('OL_dat.csv')
T = pd.read_csv('T_dat.csv')

#DL
DE = pd.read_csv('DE_dat.csv')
DL = pd.read_csv('DL_dat.csv')
DT = pd.read_csv('DT_dat.csv')

#DB
CB = pd.read_csv('CB_dat.csv')
DB = pd.read_csv('DB_dat.csv')
S = pd.read_csv('S_dat.csv')

#K
K = pd.read_csv('K_dat.csv')
PK = pd.read_csv('PK_dat.csv')

In [32]:
RB_stacked = RB.append(HB)
RB_stacked = RB_stacked.append(FB)
RB_stacked = RB_stacked.drop(["Unnamed: 0"],axis=1)
RB_stacked.head()

,name,approximate_value,games.x,AVp16,X1,adjusted_yards_per_attempt,assists_on_tackles,completed_passes,extra_points_made,field_goals_made,...,total_touchdowns,two_point_conversions,weight,yards_from_scrimmage,yards_from_scrimmage_per_play,yards_recovered_from_fumble,yards_returned_from_interceptions,yards_returned_per_interception,year,X
0,Ameer Abdullah,13,58,3.586207,Career,0.0,0.0,0.0,0.0,0.0,...,48.0,NaN,195.0,5278.0,6.0,NaN,0.0,NaN,NaN,NaN
1,Josh Adams,3,17,2.823529,Career,NaN,0.0,NaN,NaN,NaN,...,23.0,NaN,212.0,2823.0,4.5,NaN,0.0,NaN,NaN,NaN
2,Joseph Addai,54,78,11.076923,NaN,NaN,1.0,NaN,NaN,NaN,...,24.0,NaN,NaN,3217.0,5.8,NaN,0.0,NaN,NaN,Career
3,Jay Ajayi,20,45,7.111111,Career,NaN,0.0,NaN,0.0,0.0,...,55.0,NaN,216.0,4567.0,6.1,NaN,0.0,NaN,NaN,NaN
4,Shaun Alexander,79,123,10.276423,NaN,0.0,NaN,0.0,NaN,NaN,...,50.0,NaN,NaN,4363.0,5.5,NaN,NaN,NaN,NaN,Career

In [29]:
DL_stacked = DL.append(DE)
DL_stacked = DL_stacked.append(DT)
DL_stacked = DL_stacked.drop(["Unnamed: 0"],axis=1)
DL_stacked.head()

,name,approximate_value,games.x,AVp16,X1,adjusted_yards_per_attempt,assists_on_tackles,completed_passes,extra_points_made,field_goals_made,...,total_touchdowns,two_point_conversions,weight,yards_from_scrimmage,yards_from_scrimmage_per_play,yards_recovered_from_fumble,yards_returned_from_interceptions,yards_returned_per_interception,year,X
0,Victor Abiamiri,5,29,2.758621,NaN,NaN,31.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,Career
1,Sam Acho,34,110,4.945455,Career,NaN,44.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,Gaines Adams,18,47,6.127660,NaN,NaN,37.0,NaN,0.0,0.0,...,1.0,0.0,NaN,NaN,NaN,85.0,0.0,NaN,NaN,Career
3,Mike Adams,12,53,3.622642,Career,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
4,Mario Addison,31,126,3.936508,Career,NaN,22.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN

In [30]:
OL_stacked = OL.append(C)
OL_stacked = OL_stacked.append(G)
OL_stacked = OL_stacked.append(T)
OL_stacked = OL_stacked.drop(["Unnamed: 0"],axis=1)
OL_stacked.head()

,name,approximate_value,games.x,AVp16,X1,adjusted_yards_per_attempt,assists_on_tackles,completed_passes,extra_points_made,field_goals_made,...,total_touchdowns,two_point_conversions,weight,yards_from_scrimmage,yards_from_scrimmage_per_play,yards_recovered_from_fumble,yards_returned_from_interceptions,yards_returned_per_interception,year,X
0,Oday Aboushi,14,49,4.571429,Career,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN
1,Danny Aiken,4,66,0.969697,Career,NaN,7.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
2,Branden Albert,53,120,7.066667,Career,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Shawn Andrews,40,63,10.158730,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN,Career
4,Jon Asamoah,23,75,4.906667,Career,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [31]:
DB_stacked = DB.append(CB)
DB_stacked = DB_stacked.append(S)
DB_stacked = DB_stacked.drop(["Unnamed: 0"],axis=1)
DB_stacked.head()

,name,approximate_value,games.x,AVp16,X1,adjusted_yards_per_attempt,assists_on_tackles,completed_passes,extra_points_made,field_goals_made,...,total_touchdowns,two_point_conversions,weight,yards_from_scrimmage,yards_from_scrimmage_per_play,yards_recovered_from_fumble,yards_returned_from_interceptions,yards_returned_per_interception,year,X
0,Hamza Abdullah,5,48,1.666667,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,NaN,Career
1,Husain Abdullah,21,97,3.463918,Career,NaN,80.0,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,172.0,17.2,NaN,NaN
2,Kenneth Acker,7,40,2.800000,Career,NaN,30.0,NaN,0.0,0.0,...,2.0,NaN,195.0,NaN,NaN,0.0,102.0,14.6,NaN,NaN
3,Anthony Adams,37,121,4.892562,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,106.0,21.2,NaN,Career
4,Jahleel Addae,24,96,4.000000,Career,NaN,155.0,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,0.0,74.0,9.3,NaN,NaN

In [33]:
K_stacked = K.append(PK)
K_stacked = K_stacked.drop(["Unnamed: 0"],axis=1)
K_stacked.head()

,name,approximate_value,games.x,AVp16,X1,adjusted_yards_per_attempt,assists_on_tackles,completed_passes,extra_points_made,field_goals_made,...,total_touchdowns,two_point_conversions,weight,yards_from_scrimmage,yards_from_scrimmage_per_play,yards_recovered_from_fumble,yards_returned_from_interceptions,yards_returned_per_interception,year,X
0,Roberto Aguayo,0,16,0.000000,Career,NaN,0.0,NaN,198.0,69.0,...,0.0,NaN,196.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1,Michael Badgley,5,18,4.444444,Career,NaN,1.0,NaN,172.0,77.0,...,0.0,NaN,178.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
2,Dan Bailey,33,138,3.826087,Career,NaN,0.0,NaN,199.0,57.0,...,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
3,Chris Boswell,16,74,3.459459,Career,NaN,0.0,NaN,164.0,65.0,...,0.0,NaN,200.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4,John Brown,36,87,6.620690,NaN,NaN,NaN,NaN,15.0,6.0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Career

In [34]:
RB_stacked.to_csv("RB_stacked.csv",index=False)
DL_stacked.to_csv("DL_stacked.csv",index=False)
OL_stacked.to_csv("OL_stacked.csv",index=False)
DB_stacked.to_csv("DB_stacked.csv",index=False)
K_stacked.to_csv("K_stacked.csv",index=False)

In [9]:
#cd ..

#len(df)

#length = 0
#for i in range(len(file_l)):
#    length += len(pd.read_csv(file_l[i]))
#length